---
import { Image } from "astro:assets";


// A
import allanado_1 from "../assets/images/work-done/allanados/allanado-1a.webp"
import allanado_2 from "../assets/images/work-done/allanados/allanado-1b.webp"

// R
import residencial_1 from "../assets/images/work-done/residenciales/residencial-1a.webp"
import residencial_2 from "../assets/images/work-done/residenciales/residencial-1b.webp"
import residencial_3 from "../assets/images/work-done/residenciales/residencial-1c.webp"

// P
import platea_1 from "../assets/images/work-done/plateas/platea-1a.webp"
import platea_2 from "../assets/images/work-done/plateas/platea-1b.webp"
import platea_3 from "../assets/images/work-done/plateas/platea-1c.webp"

// V
import vereda_1 from "../assets/images/work-done/veredas/vereda-1a.webp"

// P
import piso_1 from "../assets/images/work-done/pisos/piso-1a.webp"
---

<div class="background-projects">
    <div class="container">
        <div class="row">
            <h2 class="sub-title">Algunos de</h2>
            <h1 class="into-title">nuestros proyectos</h1>
            <div class="button-group-wrap mt-4">
                <div id="filters" class="button-group filter-button-group">
                    <button data-filter="*" class="filter-active active"
                        >Ver Todos</button
                    >
                    <button data-filter=".commercial" class="filter-active"
                        >Allanados</button
                    >
                    <button data-filter=".education" class="filter-active"
                        >Residencial</button
                    >
                    <button data-filter=".infrastructure" class="filter-active"
                        >Plateas</button
                    >
                    <button data-filter=".residential" class="filter-active"
                        >Veredas</button
                    >
                    <button data-filter=".healthcare" class="filter-active"
                        >Pisos</button
                    >
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="box-listing">
            <div class="row" id="gallery">
                <div class="fila isotope-item box-item commercial">
                    <h1 class="title">Allanados</h1>
                    <div class="commercial isotope-item commercial">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/allanados/allanado-1a.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={allanado_1} class="imagenes" alt="" />
                                <span class="gallery-icon">
                                    <i class="bi bi-fullscreen"></i>
                                </span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Local Lavallol
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Comercial</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="commercial isotope-item commercial">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/allanados/allanado-1b.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={allanado_2} class="imagenes" alt="" />
                                <span class="gallery-icon">
                                    <i class="bi bi-fullscreen"></i>
                                </span>
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Local Lavallol
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Comercial</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fila isotope-item box-item education">
                    <h1 class="title">Residencial</h1>
                    <div class="education isotope-item education">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/residenciales/residencial-1a.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={residencial_1} class="imagenes" alt="" />
                                <span class="gallery-icon"
                                    ><i class="bi bi-fullscreen"></i></span
                                >
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Duplex San Bernardo
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Residencial</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="isotope-item education">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/residenciales/residencial-1b.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={residencial_2} class="imagenes" alt="" />
                                <span class="gallery-icon"
                                    ><i class="bi bi-fullscreen"></i></span
                                >
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Duplex San Bernardo
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Residencial</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="isotope-item education">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/residenciales/residencial-1c.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={residencial_3} class="imagenes" alt="" />
                                <span class="gallery-icon"
                                    ><i class="bi bi-fullscreen"></i></span
                                >
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Duplex San Bernardo
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Residencial</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fila isotope-item box-item infrastructure">
                    <h1 class="title">Plateas</h1>
                    <div class="infrastructure isotope-item infrastructure">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/plateas/platea-1a.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={platea_1} class="imagenes" alt="" />
                                <span class="gallery-icon"
                                    ><i class="bi bi-fullscreen"></i></span
                                >
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Plateas Fincas
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Plateas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="infrastructure isotope-item infrastructure">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/plateas/platea-1b.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={platea_2} class="imagenes" alt="" />
                                <span class="gallery-icon"
                                    ><i class="bi bi-fullscreen"></i></span
                                >
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Plateas Fincas
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Plateas</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="infrastructure isotope-item infrastructure">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/plateas/platea-1c.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={platea_3} class="imagenes" alt="" />
                                <span class="gallery-icon"
                                    ><i class="bi bi-fullscreen"></i></span
                                >
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Plateas Fincas
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Plateas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fila isotope-item box-item residential">
                    <h1 class="title">Veredas</h1>
                    <div class="residential isotope-item residential">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/veredas/vereda-1a.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={vereda_1} class="imagenes" alt="" />
                                <span class="gallery-icon"
                                    ><i class="bi bi-fullscreen"></i></span
                                >
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Vereda San Bernardo
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Veredas</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="fila isotope-item box-item healthcare">
                    <h1 class="title">Pisos</h1>
                    <div class="healthcare isotope-item healthcare">
                        <div class="isotope-img-container">
                            <a
                                class="gallery-popup"
                                data-pswp-src="/src/assets/images/work-done/pisos/piso-1a.webp"
                                data-pswp-width="1669"
                                data-pswp-height="1669"
                                target="_blank"
                            >
                                <Image src={piso_1} class="imagenes" alt="" />
                                <span class="gallery-icon"
                                    ><i class="bi bi-fullscreen"></i></span
                                >
                            </a>
                            <div class="project-item-info">
                                <div class="project-item-info-content">
                                    <h3 class="project-item-title">
                                        <h3 style="color: aliceblue;">
                                            Pisos
                                        </h3>
                                    </h3>
                                    <p class="project-cat">Pisos</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style lang="sass">
    @use '../assets/sass/pages/projects/projects'
</style>

<script>
    import PhotoSwipeLightbox from "photoswipe/lightbox";

    const lightbox = new PhotoSwipeLightbox({
        gallery: "#gallery",
        children: "a",
        pswpModule: () => import("photoswipe"),
    });

    lightbox.init();


    document.addEventListener("DOMContentLoaded", () => {
        const elem = document.querySelector(".box-listing");
        if (!elem) return;

        const isotopeOptions: Isotope.Options = {
            itemSelector: ".box-item",
            layoutMode: "fitRows",
            getSortData: {
                number: (itemElem: HTMLElement) => {
                    const idElem = itemElem.querySelector(".item-id");
                    return idElem ? parseInt(idElem.textContent || "0", 10) : 0;
                },
                name: ".item-name",
                category: "[data-category]",
            },
        };

        const listing = new Isotope(elem, isotopeOptions);

        // Manejar el clic en los botones de filtro
        const filters = document.getElementById("filters");
        if (filters) {
            filters.addEventListener("click", (event) => {
                const target = event.target as HTMLElement;
                if (target.tagName === "BUTTON") {
                    const filterValue =
                        target.getAttribute("data-filter") || "*";
                    // Elimina la clase 'active' de cualquier otro <li> que la tenga
                    const activeButton = filters.querySelector(".active");
                    if (activeButton) {
                        activeButton.classList.remove("active");
                    }

                    // Agrega la clase 'active' al <button> clicado
                    target.classList.add("active");

                    listing.arrange({ filter: filterValue });
                }
            });
        }
    });
</script>
